body {
    margin: 0;
}

.flex {
    display: flex;
}

.align-c {
    align-items: center;
}

.justify-c {
    justify-content: center;
}

.section-one {
    height: 100vh;
}

/* typography */
.huge-text {
    font-size: 3rem;
    font-family: 'Sarabun';
    color: #333;
}